body {
  background-image: url("background_image.jpg");
  background-size: 1721px 1200px;
  background-repeat: no-repeat;
  background-color: rgb(237, 193, 211);
  font-family:Georgia, 'Times New Roman', Times, serif
}

.nav-bar-style {
  width :100%;
  display: flex;
  align-items: left;
  background-color: hotpink;
  padding: 0.5em;
}

.nav-bar-list-style {
  list-style-type : none;
}

.nav-bar-link-style {
  text-decoration : none;
  margin-left: 20px;
  color: white;
  font-size: 14pt;
}

.nav-bar-link-style:hover {
  color:darkmagenta
}

h1 {
  text-align: center;
  font-size: 32pt;
}

h2 {
  text-align: center;
}

h3 {
  width: 570px;
  text-align: center;
}

.about-page {
  width : 500px;
  background-color:rgb(244, 236, 241);
  border-radius: 15pt;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  padding: 30px;
  box-shadow: 7px 7px #ef7fda;
}

img {
  height: 80px;
  width: 80px
}

.recipes-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%
}

.recipe-list-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 700px
}

.saved-recipes {
  width : 200px;
  background-color:rgb(244, 236, 241);
  border-radius: 15pt;
  margin: 10px;
  margin-top: 30px;
  margin-left: 120px;
  border: 1px solid;
  padding: 30px;
  box-shadow: 7px 7px #ef7fda;
  
}

.saved-recipes a {
  text-decoration: none;
  color: darkmagenta
}

.saved-recipes a:hover {
  color: hotpink
}

.individual-recipe {
  text-align: center;
  align-items: center;
  width: 150px;
  padding: 2px;
  background-color:rgb(244, 236, 241);
  border-radius: 15pt;
  margin: 10px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 7px 7px #ef7fda;
}

.individual-recipe:hover {
  background-color: darkmagenta;
  color: white
}

select {
  background-color: hotpink;
  color: white;
  width: 60%;
  height: 25px;
  margin: 0 320px;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 13pt;
  border-radius: 15pt;
  border: 2px solid darkmagenta;
  font-weight: bold;

}

.selected-recipe {
  width: 60%;
  margin: 2em auto;
  background-color: rgb(244, 236, 241);
  border-radius: 15px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 7px 7px #ef7fda;
  
}

h4 {
  text-align: center;
  font-size: 20pt;
  margin: 10px
}

.recipe-card-title {
  font-weight: bold;
}

.button-in-detail {
 font-size: 18px;
 background-color: #ef7fda;
 border: 2px solid darkmagenta;
 border-radius: 5px;
 color: white;
 padding: 1px;
 text-decoration: none;
 font-family:Georgia, 'Times New Roman', Times, serif;
 margin-left:40%
}

.button-in-detail:hover {
  color: darkmagenta;
  background-color: white;
}

.add-to-saved-button {
  font-size: 14px;
  background-color: #ef7fda;
  border: 2px solid darkmagenta;
  border-radius: 5px;
  color: white;
  padding: 1px;
  text-decoration: none;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.add-to-saved-button:hover {
  color: darkmagenta;
  background-color: white;
}

.saved-recipe-list {
  padding: 7px;
}

.saved-recipe-list > a {
  margin-bottom: 5px;
}

.saved-recipe-list > button {
  margin-top: 7px;
}

