body {
  background-image: url("background_image.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-color: pink;
  font-family:Georgia, 'Times New Roman', Times, serif
}

h1 {
  text-align: center;
  font-size: 32pt;
}

h2 {
  text-align: center;
}

h3 {
  margin-left: 18%;
}

img {
  height: 65px;
  width: 65px
}

.recipe-list-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 55%
}

.individual-recipe {
  text-align: center;
  align-items: center;
  width: 150px;
  padding: 10px
}

select {
  background-color: hotpink;
  color: white;
  width: 45%;
  height: 25px;
  margin-left: 5pt;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 13pt;
  border-radius: 15pt;
  border: 2px solid darkmagenta;
  font-weight: bold;

}